body {
    font-family: sans-serif;
}
ul {
    list-style: url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg")
}
h2 {
    border-top: 5px black solid;
    border-bottom: 5px black solid;
    padding: 20px;
    text-align: center;
}
header {
   background-color: rgba(0, 47, 255, 0.637); 
}
footer {
    background-color: rgba(24, 24, 199, 0.842);
}
